@property --blueviolet-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #b82be2;
}

@property --darkviolet-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #8a2be2;
}

@property --warmwhite-color {
    syntax: "<color>";
    inherits: false;
    initial-value: antiquewhite;
}

/****GENERAL STYLING****/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vwl;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden;
    user-select: none;
}

body.fade-out {
    opacity: .1;
}

h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    color: #1a1a1a;
}

.white-text {
    color: var(--warmwhite-color);
    padding-top: 10vh;
}

p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.center {
    text-align: center;
    color: var(--warmwhite-color);
}

a {
    color: var(--warmwhite-color);
    cursor: pointer;
    text-decoration: underline;
}

img {
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto auto auto;
}

footer {
    padding: 2%;
    background-color: hotpink;
}

footer p {
    color: var(--warmwhite-color);
    text-align: center;
}
/****END GENERAL STYLING****/

/****NAVBAR STYLING****/
.navbar {
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.navbar a {
    float: left;
    display: block;
    color: var(--warmwhite-color);
    padding: .75vw 1vw;
    text-decoration: none;
    text-transform: lowercase;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.navbar a:hover {
    color: var(--blueviolet-color);
    cursor: pointer;
    transition: 0.5s ease-in;
}

.navbar a.my-name {
    font-weight: bold;
    font-size: 5vw;
}

.slideshow, .about-portfolio {
    margin-top: 4.5%;
}

.nav-right {
    float: right;
}

/****CONTACT FORM STYLING****/
.pop_up_button {
    width: 15vw;
    background-color: var(--darkviolet-color);
    color: var(--warmwhite-color);
    border: solid var(--warmwhite-color);
    border-radius: 50px;
    cursor: pointer;
}

.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
    text-align: left;
}

.form-popup label {
    text-align: left;
    color: black;
}

.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: var(--warmwhite-color);
    border-radius: 20px;
}

.form-container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-size: 1vw;
    background-color: var(--warmwhite-color);
    border: solid var(--darkviolet-color);
    color: var(--darkviolet-color);
}

::placeholder {
    color: var(--darkviolet-color);
}

button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover {
    color: var(--darkviolet-color);
    background-color: var(--warmwhite-color);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: var(--darkviolet-color);
}

.form-container .btn:hover {
    color: var(--warmwhite-color);
    background-color: var(--darkviolet-color);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: var(--warmwhite-color);
}

.form-container .btn {
    background-color: var(--warmwhite-color);
    color: var(--darkviolet-color);
    border-color: var(--darkviolet-color);
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color: var(--darkviolet-color);
    color: var(--warmwhite-color);
    border-color: var(--darkviolet-color);
}

.form-container .cancel:hover {
    color: var(--darkviolet-color);
    background-color: var(--warmwhite-color);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: var(--darkviolet-color);
}
/****END CONTACT FORM STYLING****/

/****END OF NAVBAR STYLING****/

/****VIDEO STYLING****/
#web_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and (max-width: 400px) {
    #web_video {
        display: none;
    }
}

.video_text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 70%;
    height: 40vh;
    margin-left: 15%;
    padding-top: -1.7vh;
    margin-top: 10vh;
    position: relative;
    -webkit-animation: moveVideoText 3s;
    animation: moveVideoText 3s;
}

@-webkit-keyframes moveVideoText {
    from {top: -50vw;}
    to {top: 0vw;}
}

@keyframes moveVideoText {
    from {top: -50vw;}
    to {top: 0vw;}
}

q {
    font-style: italic;
}

.quote p {
    font-size: larger;
    font-weight: bold;
}

.quote {
    background-color: hotpink;
    z-index: 10;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: -1.7%;
}

path {
    fill: var(--blueviolet-color);
    opacity: 40%;
}

svg {
    margin-top: -80%;
    margin-bottom: -12%;
}

/****END VIDEO STYLING****/

/****SLIDESHOW STYLING****/
#slideshow_background {
    background: rgba(255, 255, 255, 0.35);

}

.mySlides {
    display: none;
}

#slideshow_container {
    width: 40vw;
    height: auto;
    padding-top: 4%;
    padding-bottom: 3%;
    position: relative;
    margin: auto;
}

#slideshow_container a {
    text-decoration: none;
}

.slideshow_images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: 100%;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: var(--blueviolet-color);
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: var(--blueviolet-color);
    color: var(--warmwhite-color);
}

.text {
    color: var(--blueviolet-color);
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: var(--warmwhite-color);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
    z-index: 1;
    margin-bottom: 3%;
}

.active, .dot:hover {
    background-color: var(--blueviolet-color);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
/****END SLIDESHOW STYLING****/

/****TABLE STYLING****/
* {
    box-sizing: border-box;
}

.column_1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: var(--blueviolet-color);
    color: var(--warmwhite-color);
}

.column_1 h1 {
    color: var(--warmwhite-color);
}

.column_2 {
    background-color: var(--warmwhite-color);
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/****END TABLE STYLING****/


/****MEDIA QUERY****/
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

@media screen and (max-width: 1080px) {
    .navbar a {
        width: 20%;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 1080px) {
    .quote {
        font-size: 3.5vw;
    }
    .white-text {
        font-size: 4.5vw;
    }
}

@media screen and (min-width: 1725px) {
    .column_1 {
        height: 550px;
    }
    .column_2 {
        height: 550px;
    }
}

@media screen and (min-width: 2000px) {
    h1 {
        margin-top: 0;
    }
}
/****END MEDIA QUERY****/